# data science
numpy
pandas

# packaging
pip
setuptools
twine
wheel
wave

# python and debugging
ipdb
ipykernel

# jupyter and data viz
matplotlib
seaborn

# Install the correct TensorFlow version
# Uncomment if you use TensorFlow
# tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version    # Mac Apple Silicon-chips (M1, M2)
# tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version      # Mac Intel chips
# tensorflow==2.10.0; sys_platform != 'darwin'                                        # Windows & Ubuntu Intel chips
protobuf==3.20.*


# Google Cloud
google-cloud-bigquery
google-cloud-storage

python-dotenv

# API
fastapi
uvicorn
python-multipart

# Features extraction and MEL-Spect
librosa

#Color code
colorama
